{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	{% include 'navbar.html.twig' %}

	<div class="container text-center">
		<div class="row">
			<div class="col-md-12">
				<h1>Home</h1>
			</div>
		</div>
		{% for article in article %}
			<div class="row">
				<div class="col-md-12">
					<h2>{{ article.titre }}</h2>
					{% if article.imageName is not null %}
						<img class="card-img-top p-2 m-2" style="max-width: 60%; height: auto;" src="{{ asset('images/article/' ~ article.imageName) }}" alt="{{ article.titre }}">
					{% endif %}
					<p>{{ article.texte }}</p>
				</div>
			</div>
		{% endfor %}
	</div>

	{% include 'footer.html.twig' %}

{% endblock %}
