{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	{% include 'navbar.html.twig' %}

	<div class="container">
		<h2 class="mt-5 mb-4">Formations Code</h2>

		<div class="row mb-3">
			<div class="col-md-8">
				<h3>Code Internet</h3>
				<ul>
					<li>Application de révision du code de la route (le choix des meilleurs partenaires) valable 6 mois</li>
					<li>Code internet premium : cours en ligne à votre disposition réalisés par des enseignants professionnels +15€</li>
				</ul>
			</div>
			<div class="col-md-4 text-muted ml-auto">
				<p class="text-right">50€</p>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-8">
				<h3>Code Traditionnel</h3>
				<ul>
					<li>Forfait code internet premium valable 1 an</li>
					<li>Accès à nos salles de code illimité avec possibilité d’accompagnement par un formateur valable 1 an</li>
				</ul>
			</div>
			<div class="col-md-4 text-muted ml-auto">
				<p class="text-right">205€</p>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-8">
				<h3>Code Intensif</h3>
				<ul>
					<li>Forfait code traditionnel</li>
					<li>1 stage de code intensif sur 3 jours en présentiel avec un formateur</li>
					<li>Formation le lundi, mardi et mercredi, passage à l’examen le jeudi (en fonction des dates du stage)</li>
				</ul>
			</div>
			<div class="col-md-4 text-muted ml-auto">
				<p class="text-right">345€</p>
			</div>
		</div>

		<button class="btn btn-primary btn-lg">Nous contacter</button>
	</div>


{% endblock %}
