.sidebar {
  background-color: #ef222d;
  font-family: "Figtree-Regular", sans-serif;
  font-weight: bold;
  font-style: bold;
}

span,
li,
a,
.menu-item.active {
  font-family: "Figtree-Regular", sans-serif;
  font-weight: bold;
  font-style: bold;
  color: white;
  background-color: #ef222d;
}

.content-top {
  background-color: #ef222d;
  font-family: "Figtree-Regular", sans-serif;
  font-weight: bold;
  font-style: bold;
}

.menu-icon {
  /* font-family: "Figtree-Regular", sans-serif;
  font-weight: bold;
  font-style: bold;
  color: white; */
}

#main-menu .menu .menu-item.active:not(.expanded) .menu-icon,
#main-menu .menu .menu-item.active:not(.expanded) a {
  color: white;
  background-color: #ef222d;
}
