.sidebar {
  background-color: #ef222d;
  font-family: "Figtree-Regular", sans-serif;
  font-weight: bold;
  font-style: bold;
}

.menu-item-label,
.btn-primary,
li,
a,
.menu-item.active {
  font-family: "Figtree-Regular", sans-serif;
  font-weight: bold;
  font-style: bold;
  color: white;
  background-color: #ef222d;
}

.content-top {
  background-color: #ef222d;
  font-family: "Figtree-Regular", sans-serif;
  font-weight: bold;
  font-style: bold;
}

.menu-icon {
  /* font-family: "Figtree-Regular", sans-serif;
  font-weight: bold;
  font-style: bold;
  color: white; */
}

#main-menu .menu .menu-item.active:not(.expanded) .menu-icon,
#main-menu .menu .menu-item.active:not(.expanded) a {
  color: white;
  background-color: #ef222d;
  hover: white;
}

.pagination .page-link {
  background-color: #ef222d;
  border-color: #ef222d;
  color: white;
}

.page-item.active .page-link {
  background-color: white;
  border-color: #ef222d;
  color: #ef222d;
}
.page-item.disabled .page-link {
  background-color: #ef222d;
  border-color: #ef222d;
  color: white;
}

.btn-primary {
  background-color: #ef222d;
  border-color: #ef222d;
  color: white;
  border-radius: 50px 50px 50px 50px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #fdfb3e;
  border-color: #fdfb3e;
  color: black;
}

.custom-bold-options option {
  font-weight: bold;
}

.custom-bold-options option[selected] {
  font-weight: bold;
}
