/* Styles pour la navigation */
.container-fluid.sticky-top {
  background-color: #ef222d;
}

.container-fluid.sticky-top h1,
.container-fluid.sticky-top a.navbar-brand,
.container-fluid.sticky-top .navbar-nav .nav-link {
  font-family: "Figtree-Regular", sans-serif;
  color: #fff;
  font-weight: bold;
}

h1 {
  font-family: "Figtree-Regular", sans-serif;
  font-weight: bold;
  font-style: bold;
}

h2 {
  font-family: "Figtree-Regular", sans-serif;
  font-weight: bold;
  font-style: italic;
}
p {
  font-family: "Figtree-Regular", sans-serif;
  font-weight: bold;
  font-style: bold;
}

.sidebar {
  background-color: #ef222d;
  font-family: "Figtree-Regular", sans-serif;
  font-weight: bold;
  font-style: bold;
}

.btn-primary {
  background-color: #ef222d;
  border-color: #ef222d;
  color: white;
  border-radius: 50px 50px 50px 50px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #fdfb3e;
  border-color: #fdfb3e;
  color: black;
  font-weight: bold;
}

.custom-bold-options option {
  font-weight: bold;
}
