<div class="space-footer" style="height: 30px"></div>

<footer class="footer" style="background-color: #ef222d;">
	<div class="">
		<div class="row">
			<div class="col-sm-12 text-center mb-3">
				<p class="text-white p-2">Suivez-nous sur les réseaux sociaux :</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="social-icons">
					<a href="#" class="me-3">
						<i class="fab fa-instagram fa-2x text-white"></i>
					</a>
					<a href="#" class="me-3">
						<i class="fab fa-facebook-f fa-2x text-white"></i>
					</a>
					<a href="#">
						<i class="fab fa-twitter fa-2x text-white"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<p class="text-white p-2">Copyright © all reserved ®</p>
			</div>
		</div>
		<div class="row text-end">
			<div class="col-sm-12">
				<a href="#" class="back-to-top">
					<i class="fas fa-arrow-up fa-3x text-white"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
