{% extends 'base.html.twig' %}

{% block title %}AE Contact
{% endblock %}

{% block body %}

	{% include 'navbar.html.twig' %}

	<div class="container text-center">
		<div class="row">
			<div class="col-md-12">
				<h1>Contactez nous !</h1>
			</div>
		</div>


	{% endblock %}
